.app_body {
  width: 90%;
  margin: 32px auto;
  height: 60vh;
  position: relative;
}

.empty_contact_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 1.2rem;
  user-select: none;
  pointer-events: none;
}

.contact-table {
  width: 100%;
}

.table-header {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dbdbdb;
}
.table-header span {
  font-size: 1.2rem;
  font-weight: bold;
}
.contact-lists {
  margin-top: 10px;
}

.contact-list {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 3px;
  cursor: pointer;
}

.contact-name-box {
  display: flex;
  align-items: center;
  gap: 12px;
}
.contact-avatar {
  width: 28px;
  height: 28px;
  border-radius: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-list:hover .contact-actions {
  opacity: 1;
}

.contact-actions {
  display: flex;
  align-items: center;
  gap: 8px;
  opacity: 0;
}
.contact-actions button {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 0;
  outline: 0;
  background-color: rgb(248, 84, 7);
  color: #fff;
}
